BEGIN;
--
-- Add field categoria to producto
--
ALTER TABLE "abarrotera_producto" ADD COLUMN "categoria_id" bigint NULL CONSTRAINT "abarrotera_producto_categoria_id_04cac3ed_fk_abarroter" REFERENCES "abarrotera_categoria"("id") DEFERRABLE INITIALLY DEFERRED; SET CONSTRAINTS "abarrotera_producto_categoria_id_04cac3ed_fk_abarroter" IMMEDIATE;
--
-- Add field proveedor to producto
--
ALTER TABLE "abarrotera_producto" ADD COLUMN "proveedor_id" bigint NULL CONSTRAINT "abarrotera_producto_proveedor_id_bdb527a6_fk_abarroter" REFERENCES "abarrotera_proveedor"("id") DEFERRABLE INITIALLY DEFERRED; SET CONSTRAINTS "abarrotera_producto_proveedor_id_bdb527a6_fk_abarroter" IMMEDIATE;
CREATE INDEX "abarrotera_producto_categoria_id_04cac3ed" ON "abarrotera_producto" ("categoria_id");
CREATE INDEX "abarrotera_producto_proveedor_id_bdb527a6" ON "abarrotera_producto" ("proveedor_id");
COMMIT;
